.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 578px;
    min-height: 250px;
    background-color: rgba(239, 239, 239, 0.4);
    margin: 50px auto 55px auto;
    padding: 30px;
    border-radius: 10px;
}

.loaderWrapper{
    display: flex;
    justify-content: center;
}

.title {
    font-family: "Montserat", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #111111;
}

.label {
    margin-top: 30px;
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 300;
    color: #111111;
}

.input {
    display: block;
    outline: none;
    border-radius: 6px;
    margin: 6px 10px 2px 0;
    width: 350px;
    font-size: 14px;
    padding: 6px 0 7px 10px;
    border: 1px solid #c9c9c9;
}

.input:focus {
    border: 1px solid #ff8614;
    border-radius: 6px;
}

.LoginInner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 110px;
}

.error {
    font-size: 12px;
    color: #ff8614;
    margin: 7px 0 0 4px;
}

@media (max-width: 767px) {
    .input {
        width: 100%;
    }

    .LoginInner {
        margin-bottom: 70px;
    }
}


@media (max-width: 370px) {
    .loginContainer {
        padding: 15px;
        max-width: 350px;
        min-height: 470px;
    }
}
