
.button32 {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    min-width: 140px;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.loaderWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button32:not(:disabled):hover,
.button32:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.button32:disabled {
    filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.buttonWrapper{
    display: flex;
    justify-content: center;
}