.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 578px;
    max-height: 500px;
    background-color: rgba(239, 239, 239, 0.4);
    margin: 50px auto 55px auto;
    padding: 30px;
    border-radius: 10px;
}

.loaderWrapper{
    display: flex;
    justify-content: center;
}

.LoginInner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 20px;
}

.label {
    font-size: 16px;
    font-weight: 500;
    color: #111111;
}

.input {
    display: block;
    outline: none;
    border-radius: 3px;
    width: 95%;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    padding: 6px 0 7px 10px;
    border: 1px solid rgba(17, 17, 17, 0.3);
}

.input:focus {
    border: 1px solid #ff8614;
    border-radius: 6px;
    color: rgba(17, 17, 17);
}

.modalSelect {
    font-size: 14px;
    font-family: "Montserat", sans-serif;
    font-weight: 300;
    color: rgba(17, 17, 17);
    line-height: 17px;
    padding: 7px 11px 6px 0;
    width: 60%;
    height: 33px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fff;
}

.error {
    font-size: 12px;
    color: #ff8614;
    margin: 7px 0 0 4px;
}
.blockInner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media (min-width: 767px) {
    .LoginInner {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {

    .LoginInner {
        margin-bottom: 20px;
    }
}

@media (max-width: 370px) {
    .loginContainer {
        padding: 15px;
        max-width: 350px;
        min-height: 470px;
    }

    .label {
        font-size: 15px;
    }

    .modalSelect {
        height: 29px;
    }

    .input {
        font-size: 14px;
        font-weight: 500;
    }
}