.svg {
  height: 15px;
  width: 20px;
  margin-right: 15px;
  stroke: #19495c;
}

.loginSvg {
  height: 15px;
  width: 20px;
  margin-right: 15px;
  stroke: #62d4d4;
}

.navigation {
  display: none;
}

.mobileNavigation {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 25;
  background-color: #ffffff;
  background-attachment: fixed;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #62d4d4;
  font-size: 16px;
  line-height: 1.25;
  padding: 30px 25px;
}

.isLogedIn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  padding: 30px 25px;
}

.avatar {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #19495c;
  font-size: 16px;
  line-height: 1.25;
  padding: 30px 25px;
  border-bottom: 1px solid #efefef;
}

@media (min-width: 1366px) {
  .nav {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list {
    display: flex;
  }

  .navigation {
    display: block;
  }

  .mobileNavigation {
    display: none;
  }

  .svg {
    height: 15px;
    width: 20px;
    margin-right: 5px;
    stroke: #ffffff;
  }

  .navLink {
    color: #ffffff;
    padding: 10px 6.5px;
    border-bottom: none;
    font-size: 14px;
    line-height: 1.5;
  }

  .login {
    color: #ffffff;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
  }

  .isLogedIn {
    color: #ffffff;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
  }

  .loginSvg {
    stroke: #ffffff;
    margin-right: 5px;
  }
}

@media (min-width: 320px) and (max-width: 360px) {
  .navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #19495c;
    font-size: 14px;
    line-height: 1.25;
    padding: 0 25px;
    height: 11vh;
    border-bottom: 1px solid #efefef;
  }

  .mobileNavigation {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 25;
    background-color: #ffffff;
  }
}

@media (min-width: 361px) and (max-width: 1090px) {
  .navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #19495c;
    font-size: 16px;
    line-height: 1.25;
    padding: 0 25px;
    height: 11vh;
    border-bottom: 1px solid #efefef;
  }

  .mobileNavigation {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 25;
    background-color: #ffffff;
  }
}

.user{
  color: white;
}